﻿@mixin gradient-horizontal($left, $right) {
background: $left; /* Old browsers */
background: -moz-linear-gradient(left,  $left 1%, $right 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, $left 1%,$right 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  $left 1%,$right 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 ); /* IE6-9 */
}

@mixin gradient-vertical($top, $bottom) {
background: $top; /* Old browsers */
background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin anti-flicker() {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
}

@mixin elipsis($height, $lines) {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: $height;
    margin: 0 auto;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin transform-style($value) {
       -moz-transform-style: $value; // Safari <= 5
    -webkit-transform-style: $value; // Firefox <= 19
        -ms-transform-style: $value;
            transform-style: $value;
}

@mixin backface-visibility-hidden () {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

@mixin backface-visibility-visible () {
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
      -ms-backface-visibility: visible;
       -o-backface-visibility: visible;
          backface-visibility: visible;
}

@mixin animation($arguments) {
  -webkit-animation: $arguments;
          animation: $arguments;
	 -moz-animation: $arguments;
	   -o-animation: $arguments;
}

@mixin perspective($arguments) {
  -webkit-perspective: $arguments;
          perspective: $arguments;
	 -moz-perspective: $arguments;
      -ms-perspective: $arguments;
}
