/*
Theme Name: Zalesak
Author: Petr Záleský
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Zalesak
*/

@import "flexbox.scss";
@import "mixins.scss";
@import "rem.scss";

@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$mainFont: 'Teko', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {display: block;}

.hidden {display: none !important;}

.clearfix {
  &::after {display: block; content: ""; clear: both;}
}

.text-center {text-align: center !important;}

html {@include rem-baseline; -webkit-font-smoothing: antialiased;}
body {font-family: $mainFont; line-height:1; margin:0; padding:0; background: #000;
  &.overflow {height: 100vh; overflow: hidden;}
}

.wrapper {background: #fff; overflow: hidden;
  @media (max-width: 990px) {
    & {@include rem(padding, 60px 0 0 0);}   
  }
}

.header {background: #000; text-align: left; position: relative;
  &.header-homepage {}
  
  .header-container {background: #000; text-align: right;
    @media (max-width: 990px) {
      & {width:100%; position: fixed; top:0; left:0; z-index: 999;}   
    }
    @media (max-width: 990px) {
      & {@include rem(padding, 0 0 0 70px);}   
    }

    .mobile-stream-button {font-family: $mainFont; @include rem(padding, 20px 25px 16px 35px); display: inline-block; vertical-align: middle; margin:0; font-weight: $semi-bold; @include rem(font-size, 24px); color:#fff; line-height: 1.0; text-decoration: none; text-transform: uppercase; border: none; border-radius: 0; background: transparent; outline: none !important; position: relative; cursor: pointer;
      @media (min-width: 991px) {
        & {display: none !important;}   
      }
      &:before {content: ""; top:50%; @include rem(left, 10px); @include transform(translateY(-50%)); @include rem(width, 16px); @include rem(height, 16px); background:#e90042; @include border-radius(100%); display: inline-block; position: absolute;}
      &:hover {color:#2694f5;}
      &.open {color:#2694f5;}
    }

    .language {display: inline-block; vertical-align: top; @include rem(padding, 14px 30px 10px 20px); position: relative;
      @media (max-width: 1199px) {
        & {@include rem(padding, 14px 15px 10px 20px);}  
      }
      &:before {content: ""; position: absolute; top:50%; left:0; @include transform(translateY(-50%)); @include rem(width, 1px); @include rem(height, 32px); background: #fff;}
      .screen-reader-text {display: none;}
      select {border: none; border-radius: 0; outline: none !important; background: transparent; color:#fff; font-family: $mainFont; color:#fff; font-weight: $semi-bold; @include rem(font-size, 24px);
        option {color:#000;}
      }
    }
    .social-sites {display: inline-block; vertical-align: top; @include rem(padding, 11px 24px 17px 0);
      @media (max-width: 549px) {
        & {display: none;}  
      }
      .custom-html-widget {
        a {display: inline-block; @include rem(border, 1px solid #fff); @include border-radius(100%); @include rem(width, 26px); @include rem(height, 26px); @include opacity(0.7); @include transition(0.3s); @include rem(margin, 0 0 0 7px); font-size: 0; line-height: 0; position: relative;
          &:before {content: ""; position: absolute; top:50%; left:50%; @include transform(translate(-50%,-50%)); @include rem(width, 26px); @include rem(height, 26px);}
          &.facebook-ico {
            &:before {background: url(images/fb.svg) no-repeat center center; @include rem(background-size, 14px 14px);}
          }
          &.youtube-ico {
            &:before {background: url(images/youtube.svg) no-repeat center center; @include rem(background-size, 14px 14px);}
          }
          &.instagram-ico {
            &:before {background: url(images/insta.svg) no-repeat center center; @include rem(background-size, 14px 14px);}
          }
          &.twitter-ico {
            &:before {background: url(images/twitter.svg) no-repeat center center; @include rem(background-size, 14px 14px);}
          }
          &:hover {@include opacity(1);}
        }
      }
    }
  }

  .header-channels-list {background: #000; display: none; text-align: left; overflow: hidden; z-index: 10; position: relative;
    &.open {display: block;}
    @media (max-width: 990px) {
      & {width:100%; position: fixed; @include rem(top, 60px); left:0; z-index: 999; max-height: calc(100vh - 60px); overflow-y: auto;}   
    }
  }

  .header-intro {text-align: center; @include rem(padding, 70px 0 55px 0);
    background: #190e2c;
    background: -moz-linear-gradient(left, #190e2c 0%, #020106 100%);
    background: -webkit-linear-gradient(left, #190e2c 0%,#020106 100%);
    background: linear-gradient(to right, #190e2c 0%,#020106 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190e2c', endColorstr='#020106',GradientType=1 );

    @media (max-width: 990px) {
      & { @include rem(padding, 15px 0 20px 0);}  
    }
  }

  .header-logo {display: block; text-align: center; @include rem(padding, 0 0 25px 0);
    @media (max-width: 990px) {
      & { @include rem(padding, 0 0 15px 0);}  
    }
    a {font-size: 0; line-height: 0; display: inline-block; @include rem(width, 190px); @include rem(height, 113px); background: url(images/logo-sampi.svg) no-repeat center center;
      @media (max-width: 990px) {
        & {@include rem(width, 101px); @include rem(height, 60px); @include rem(background-size, 101px 60px);}  
      }
    }
  }
  .header-logo-caption {display: inline-block; vertical-align: middle; position: relative; font-weight: $semi-bold; @include rem(font-size, 22px); color:#fff; line-height: 1.2; @include rem(letter-spacing, 5px);
    @media (max-width: 990px) {
      & { @include rem(font-size, 14px); @include rem(letter-spacing, 4px);}  
    }
    .hlc-icon {position: absolute; @include rem(top, -8px); @include rem(right, -15px); @include rem(width, 12px); @include rem(height, 12px); }
  }

  .head-menu {display: inline-block; vertical-align: middle; 
    @media (min-width: 991px) {
      & {position: absolute; top:0; left:0;}   
    }
    @media (min-width: 550px) {
      .social-mobile {display: none !important;}
    }
    @media (max-width: 990px) {
      & {position: absolute; @include rem(top, 60px); left:0; background: #000; text-align: left; z-index: 100; @include rem(min-width, 240px); display: none;
        &.open {display: block;}
      }   
    }
    @media (max-width: 549px) {
      .social-mobile {
        .social-sites {display: block !important; @include rem(padding, 0 10px 20px 10px);}
      }  
    }
    .header-stream-button {font-family: $mainFont; @include rem(padding, 20px 25px 16px 35px); display: inline-block; vertical-align: middle; margin:0; font-weight: $semi-bold; @include rem(font-size, 24px); color:#fff; line-height: 1.0; text-decoration: none; text-transform: uppercase; border: none; border-radius: 0; background: transparent; outline: none !important; position: relative; cursor: pointer;
      @media (max-width: 990px) {
        & {display: none;}   
      }
      &:before {content: ""; top:50%; @include rem(left, 10px); @include transform(translateY(-50%)); @include rem(width, 16px); @include rem(height, 16px); background:#e90042; @include border-radius(100%); display: inline-block; position: absolute;}
      &:hover {color:#2694f5;}
      &.open {color:#2694f5;}
    }
  }
}

.menu-header-menu-container, .menu-header-menu-en-container {display: inline-block; vertical-align: middle; padding: 0;
  @media (max-width: 990px) {
    & {display: block;}  
  }
  ul {list-style: none; margin:0; padding: 0; display: inline-block; vertical-align: middle;
    @media (max-width: 990px) {
      & {display: block; @include rem(padding, 0 0 10px 0);}  
    }
    li {display: inline-block; vertical-align: middle; margin:0; padding: 0; position: relative;
      @media (max-width: 990px) {
        & {display: block;}  
      }
      a {@include rem(padding, 20px 25px 16px 25px); display: block; margin:0; font-weight: $semi-bold; @include rem(font-size, 24px); color:#fff; line-height: 1.0; text-decoration: none; text-transform: lowercase; position: relative;
        @media (max-width: 1199px) {
          & {@include rem(padding, 20px 15px 16px 15px);}  
        }
        @media (max-width: 990px) {
          & {@include rem(padding, 10px 20px 7px 20px);}  
        }
        &:hover {color:#2694f5;}
      }
      &.menu-item-has-children {
        &>a {
          &:before {content: ""; @include rem(border-top, 5px solid #2694f5); @include rem(border-left, 5px solid transparent); @include rem(border-right, 5px solid transparent); position: absolute; @include rem(right, 5px); top:50%; @include transform(translateY(-50%));
            @media (max-width: 990px) {
              & {@include rem(right, 15px);}  
            }
          }
        }
      }
      &.current-menu-item {
        a {color:#2694f5;}
      }

      .sub-menu { text-align: left; background: #444; display: none;
        @media (min-width: 991px) {
          & {position: absolute; @include rem(top, 60px); left:0; background: #000;}  
        }
        li {display: block; margin:0; padding: 0;
          a {@include rem(padding, 10px 25px 6px 25px); display: block; margin:0; font-weight: $semi-bold; @include rem(font-size, 24px); color:#fff; line-height: 1.0; text-decoration: none; text-transform: lowercase; white-space: nowrap;
            &:hover {color:#2694f5;}
          }
        }
      }
    }
  }
}

.burger {@include rem(height, 60px); @include rem(width, 60px); display: block; position: relative; cursor:pointer; -webkit-appearance: none; border-radius: 0; border: none; outline:none; margin:0; background-color: #2495f6; position: absolute; z-index: 1000; @include rem(top, 0px); @include rem(left, 0px); outline:none !important; 
  @media (min-width: 991px) {
    & {display: none;}  
  }
  span {display: block; @include rem(height, 2px); @include rem(width, 30px);  margin: auto; background-color: #fff; transition: width .3s; position: absolute; @include rem(right, 15px); top: 50%;
      &:before {@include rem(top, -7px);}
      &:after { @include rem(top, 7px); transition: width .3s;}
      &:before, &:after {content: ''; position: absolute; @include rem(height, 2px); @include rem(width, 30px); background-color: inherit; @include rem(right, 0);}
  }
  &.open {
      span {@include rem(width, 9px);
          &:after {@include rem(width, 12px);}
      }
  }
}

.main-content {background: #fff;
  @media (max-width: 990px) {
    & {@include rem(padding, 0 0 0 0);}  
  }
}

.content {width:100%;}

.container {@include rem(padding, 0 10px); max-width: 1600px; margin:0 auto;}

.home-header {background: #000; 
  .home-header-container {width:100%; 

  }
}

.about-region {background: #140c23;
  @media (min-width: 768px) {
    & {background: url(images/about-region.jpg) no-repeat center bottom;}  
  }
  .about-container {@include rem(max-width, 610px); @include rem(margin-left, 250px); @include rem(padding, 80px 0);
    @media (max-width: 1199px) {
      & {@include rem(margin-left, 0px);}  
    }
    @media (max-width: 990px) {
      & {@include rem(max-width, 520px);}  
    }
    @media (max-width: 767px) {
      & {@include rem(padding, 40px 0);}  
    }
    h2 {@include rem(font-size, 48px); color:#fff; @include rem(margin, 0 0 30px 0); font-weight: $semi-bold; line-height: 1.2;
      @media (max-width: 990px) {
        & {@include rem(font-size, 32px); @include rem(margin, 0 0 20px 0);}  
      }
    }
    p {@include rem(font-size, 18px); color:#fff; @include rem(margin, 0 0 30px 0); font-weight: $semi-bold; line-height: 1.2;
      @media (max-width: 990px) {
        & {@include rem(font-size, 15px);}  
      }
      &.tlacitko {margin: 0;
        a {display: inline-block; position:relative; @include rem(font-size, 16px); color:#fff;font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase; text-decoration: underline; @include rem(padding, 3px 0 0 23px);
          &:before {position: absolute; @include rem(left, 0px); top:50%; @include transform(translateY(-50%)); @include rem(width, 12px); @include rem(height, 12px); content: ""; @include rem(background-size, 12px 12px); background: url(images/icon.svg) no-repeat center center;}          
          &:hover {text-decoration: none;}
        }
      }
    }
  }
}

.achievments-region {@include rem(padding, 0);background: url(images/achievs.jpg) no-repeat center center;
    .achievments-container {@include rem(padding, 45px 0); @include display-flex(); @include flex-wrap-wrap(); width:100%; @include justify-content-center(); @include rem(max-width, 1200px); margin:0 auto; @include align-items-center();
      @media (max-width: 599px) {
        & {@include rem(padding, 30px 0);}  
      }
      .achiev-title {width:20%; text-align:center; @include rem(font-size, 30px); color:#fff; @include rem(margin, 0); font-weight: $semi-bold; line-height: 1.2;
        @media (max-width: 599px) {
          & {width:100%; @include rem(padding, 0 0 30px 0);}  
        }
      }
      .achiev-total {width: 44%; @include display-flex(); @include justify-content-center();  text-align:center; @include rem(font-size, 30px); color:#fff; @include rem(margin, 0); font-weight: $semi-bold; line-height: 1.2;
        @media (max-width: 599px) {
          & {width:100%; @include rem(padding, 30px 0 0 0 );}  
        }
        .total-matches {}
        .pocetZapasu {}
      }
      .pocetZlatych, .pocetStribrnych, .pocetBronzovych {text-align: center; width:12%;
        @media (max-width: 599px) {
          & {width:33.33%;}  
        }
        &:before {content: ""; display: block; @include rem(height, 46px); width:100%; @include rem(margin, 0 0 20px 0);}
        .textwidget {@include rem(font-size, 30px); color:#fff; font-weight: $semi-bold; line-height: 1.2; } 
      }
      .pocetZlatych {
        &:before {background: url(images/misto-1.png) no-repeat center center; @include rem(background-size, 42px 46px);}
      }
      .pocetStribrnych {
        &:before {background: url(images/misto-2.png) no-repeat center center; @include rem(background-size, 42px 46px);}
      }
      .pocetBronzovych {
        &:before {background: url(images/misto-3.png) no-repeat center center; @include rem(background-size, 42px 46px);}
      }
    }
}

.social-region {background: #fff; @include rem(padding, 45px 0); @include rem(font-size, 15px);
  h2 {@include rem(font-size, 30px); color:#000; @include rem(margin, 0 0 30px 0); font-weight: $semi-bold; line-height: 1.2; text-align: center;}
}

.sponzors-region {background: #fff; @include rem(padding, 45px 0);
  h2 {@include rem(font-size, 30px); color:#000; @include rem(margin, 0 0 30px 0); font-weight: $semi-bold; line-height: 1.2; text-align: center;}
  .gallery, #gallery-1 {text-align: center; @include justify-content-center();
    .gallery-item {display: inline-block; float:none; width: auto; @include rem(margin, 0 40px);
      .gallery-icon {display: block;
        img {width: auto; height: auto; border: none !important; @include opacity(0.5); @include rem(max-height, 100px);}
      }
    }
  }

  .textwidget {
    p {@include rem(font-size, 24px); color:#afafaf; @include rem(margin, 0); font-weight: $semi-bold; line-height: 1.2; text-align: center;}
  }
}

.footer {background: #fff; padding: 0;}

.content-region {@include rem(padding, 70px 0 0 0);
  @media (min-width: 768px) {
    & {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e6e6e6 50%, #e6e6e6 100%);
      background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e6e6e6 50%,#e6e6e6 100%);
      background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e6e6e6 50%,#e6e6e6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=1 );
    }  
  }
  @media (max-width: 1199px) {
    & {@include rem(padding, 50px 0 0 0);}  
  }
  @media (max-width: 990px) {
    & {@include rem(padding, 35px 0 0 0);}  
  }
  .content-flex {@include display-flex(); @include flex-wrap-wrap(); width:100%;
    .posts-container {width:50%; @include rem(padding, 0 50px 0 0);
      @media (max-width: 1199px) {
        & {@include rem(padding, 0 25px 0 0);}  
      }
      @media (max-width: 767px) {
        & {width:100%; @include rem(padding, 0);}  
      }

      &--grayed {background: #e6e6e6; @include rem(padding, 0 0 0 50px);
        @media (max-width: 1199px) {
          & {@include rem(padding, 0 0 0 25px);}  
        }
        @media (max-width: 767px) {
          & {@include rem(padding, 30px 10px 0 10px); @include rem(margin, 0 -10px); width:calc(100% + 20px)}  
        }
      }

      .container-main-title {@include rem(font-size, 48px); font-weight: $semi-bold; color:#000; @include rem(margin, 0); line-height: 1.0; @include rem(padding, 0 0 40px 0);
        @media (max-width: 990px) {
          & {@include rem(font-size, 32px); @include rem(padding, 0 0 20px 0);}  
        }
      }
    }
  }
}

.topbar {width:100%;
  .topbar-categories {
    .topbar-categories-caption {text-align: center; @include rem(margin, 0 0 25px 0); @include rem(font-size, 14px); text-transform: uppercase; position: relative; color:#000; line-height: 1.2; font-weight: $bold;
      &::before {background: #e1d9bd; @include rem(height, 3px); @include rem(width, 66px); position:absolute; @include rem(bottom, -10px); left:50%; @include transform(translateX(-50%)); content:'';}
      @media (max-width: 767px) {
        & {display: none;}  
      }
    }

    .topbar-categories-list {@include rem(padding, 0); @include rem(border-bottom, 1px solid #ccc); @include rem(margin, 0 0 40px 0);
      ul {list-style: none; margin: 0; padding:0;
        li {margin: 0; padding:0; display: inline-block; vertical-align: top;
          a {line-height: 1.0; text-decoration: none; @include rem(font-size, 20px); color:#000; font-weight: $semi-bold; display: block; text-transform: uppercase; @include rem(padding, 10px 0);@include rem(margin, 0px 15px);
            &:hover {color:#2694f5}
          }
          &.current-cat {
            a {color:#2694f5}
          }
        }
      }
    }
  }
}

.pager {@include rem(padding, 0 0 50px 0); text-align: center;
  @media (max-width: 1199px) {
    & {@include rem(padding, 0 0 50px 0);}  
  }
  span, a {display: inline-block; vertical-align: middle; @include rem(font-size, 18px); @include rem(padding, 8px 10px); @include rem(margin, 0 2px); line-height: 1.0;
    @media (max-width: 767px) {
      & {@include rem(font-size, 15px);}  
    }
  }
  span {color:#fff; background: #2694f5;}
  a {text-decoration: none; background: transparent; color:#000;
    &:hover {text-decoration: underline;}
  }
}

.channels-container {@include rem(padding, 25px 25px 0 25px); @include display-flex(); @include flex-wrap-wrap(); width:100%;
  @media (max-width: 990px) {
    & {@include rem(padding, 15px 15px 0 15px);}  
  }
  .channel-item {width:25%; @include rem(margin, 0 0 25px 0);
    @media (max-width: 1199px) {
      & {width:33.33%}  
    }
    @media (max-width: 990px) {
      & {@include rem(margin, 0 0 10px 0);}  
    }
    @media (max-width: 767px) {
      & {width:50%}  
    }
    @media (max-width: 499px) {
      & {width:100%}  
    }
    .item-link {display: block; @include display-flex(); @include flex-wrap-wrap(); width:100%; text-decoration: none; color:#000; position: relative;
      .item-img {@include rem(width, 70px);
        @media (max-width: 990px) {
          & {@include rem(width, 50px);}  
        }
        img {width: 100%; height: auto;}
      }
      .item-info {width: calc(100% - 70px); @include rem(padding, 0 15px 0 20px);
        @media (max-width: 990px) {
          & {width: calc(100% - 50px); @include rem(padding, 0 10px 0 15px);}  
        }
        .item-title {@include rem(font-size, 18px); color:#fff;@include rem(margin, 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
          @media (max-width: 1199px) {
            & {@include rem(margin, 0);}  
          }
        }
        .item-url {color:#97999a; @include rem(font-size, 15px); font-weight: $semi-bold; line-height: 1.2; @include rem(margin, 0);
          @media (max-width: 1299px) {
            & {@include rem(font-size, 14px);}  
          }
          @media (max-width: 1199px) {
            & {@include rem(margin, 0);}  
          }
          @media (max-width: 1199px) {
            & {display: none;}  
          }
        }
        .item-status {@include rem(font-size, 16px); font-weight: $semi-bold; line-height: 1.2; @include rem(margin, 0);
          @media (max-width: 1199px) {
            & {@include rem(margin, 0);}  
          }
        }
      }
    }
  }
}

.highlighted-items-list {@include display-flex(); @include flex-wrap-wrap(); width:100%;
  .post-item {@include rem(margin, 0); position: relative; width:33.33%;
    @media (max-width: 1199px) {
      & {@include rem(margin, 0);}  
    }
    @media (max-width: 767px) {
      & {width:100%;}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; position: relative;
      .item-img {width:100%; position: relative; z-index: 10; background: #000; overflow: hidden;
        img {width: 100%; height: auto; @include opacity(0.5); @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-category {position: absolute; @include rem(top, 18px); @include rem(left, 18px); z-index: 30; color:#fff; @include rem(font-size, 16px); font-weight: $semi-bold; line-height: 1.0; text-transform: uppercase; display: inline-block; background: #2495f6; @include rem(padding, 6px 25px 3px 25px);
        @media (max-width: 990px) {
          & {@include rem(top, 10px); @include rem(left, 10px); @include rem(font-size, 14px);  @include rem(padding, 6px 10px 3px 10px);}  
        } 
        &.Team_Sampi {background: #2495f6;}
        &.Novinky {background: #6d9a00;}
      }
      .item-info {@include display-flex(); @include flex-wrap-wrap(); padding:0; position: absolute; right: 0; z-index: 20; @include rem(bottom, 30px); width:85%;
        @media (max-width: 1499px) {
          & {width:95%; @include rem(bottom, 20px);}  
        }       
        @media (max-width: 990px) {
          & {width:100%; @include rem(bottom, 10px); @include rem(padding, 0 10px);}  
        } 
        &:before {content:""; @include rem(width, 1px); height: 100%; position: absolute; @include rem(left, 75px); top:0; background: #f80040;
          @media (max-width: 990px) {
            & {display: none;}  
          } 
        }
        .item-title {width:calc(100% - 75px); @include rem(font-size, 30px); font-weight: $semi-bold; color:#fff;@include rem(margin, 0); line-height: 1.0; @include rem(padding, 0 20px);
          @media (max-width: 1199px) {
            & {@include rem(margin, 0);}  
          }
          @media (max-width: 990px) {
            & {width:100%; @include rem(font-size, 22px); @include rem(padding, 0px);}  
          } 
        }
        .item-date {color:#fff; @include rem(font-size, 18px); font-weight: $semi-bold; line-height: 1.0; @include rem(margin, 4px 0 0 0); @include rem(width, 75px);
          @media (max-width: 1199px) {
            & {@include rem(margin, 0);}  
          }
          @media (max-width: 990px) {
            & {width:100%; @include rem(font-size, 14px); font-weight: $normal;}  
          } 
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
      }
    }
  }
}

.blog-list, .blog-archive-items {@include display-flex(); @include flex-wrap-wrap(); width:calc(100% + 40px); @include rem(margin, 0 -20px);
  @media (max-width: 1199px) {
    & {width:calc(100% + 20px); @include rem(margin, 0 -10px);}  
  }
  .post-item {@include rem(margin, 0 0 80px 0); position: relative; width:50%; @include rem(border, 20px solid transparent); border-top: 0; border-bottom: 0;
    @media (max-width: 1199px) {
      & {@include rem(border, 10px solid transparent); border-top: 0; border-bottom: 0;}  
    }
    @media (max-width: 990px) {
      & {@include rem(margin, 0 0 50px 0);}  
    }
    @media (max-width: 767px) {
      & {@include rem(margin, 0 0 30px 0);}  
    }
    @media (max-width: 549px) {
      & {width:100%;}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; 
      .item-img {width:100%; @include rem(margin, 0 0 20px 0); overflow: hidden;
        @media (max-width: 990px) {
          & {@include rem(margin, 0 0 10px 0);}  
        }
        img {width: 100%; height: auto; @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-info {padding:0; width: 100%;
        .item-category {display: none; font-size: 14px; color:#000; @include rem(margin, 0 0 0 0); font-weight: $normal; line-height: 1.2; text-transform: uppercase;}
        .item-date {color:#000; @include rem(font-size, 14px); font-weight: $semi-bold; line-height: 1.0; @include rem(margin, 0 0 8px 0);}
        .item-title {@include rem(font-size, 24px); color:#000; @include rem(margin, 0 0 20px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
          @media (max-width: 1199px) {
            & {@include rem(margin, 0 0 0 0);}  
          }
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 10px 0); line-height: 1.0;}  
          }
        }
        .item-desc {@include elipsis(65px,3); @include rem(font-size, 18px); color:#979797; margin:0; font-weight: $semi-bold; line-height: 1.2;
          @media (max-width: 990px) {
            & {@include elipsis(48px,3); @include rem(font-size, 14px);}  
          }
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
        .item-info {
          .item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.blog-archive-items {
  .post-item {width:25%;
    @media (max-width: 1199px) {
      & {width:33.33%}  
    }
    @media (max-width: 990px) {
      & {width:50%;}  
    }
    @media (max-width: 767px) {
      & {}  
    }
    @media (max-width: 549px) {
      & {width:100%;}  
    }
  }
}

.events-list {
  .event-item {@include rem(margin, 0 0 55px 0); position: relative; 
    @media (max-width: 1199px) {
      & {@include rem(margin, 0 0 25px 0);}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; 

      &.ico-NHL {
        .item-info {
          .item-title {@include rem(padding, 0 0 0 45px);
            &:before {@include rem(width, 30px); @include rem(height, 33px); content: ""; background: url(images/nhl-ico.png) no-repeat center center; position: absolute; top:50%; left:0; @include transform(translateY(-50%)); @include rem(background-size, 30px 33px);}
          }
        }
      }

      &.ico-FIFA {
        .item-info {
          .item-title {@include rem(padding, 0 0 0 45px);
            &:before {@include rem(width, 30px); @include rem(height, 33px); content: ""; background: url(images/fifa-ico.png) no-repeat center center; position: absolute; top:50%; left:0; @include transform(translateY(-50%)); @include rem(background-size, 30px 33px);}
          }
        }
      }

      &.ico-Rocket_League {
        .item-info {
          .item-title {@include rem(padding, 0 0 0 45px);
            &:before {@include rem(width, 30px); @include rem(height, 33px); content: ""; background: url(images/rocket-ico.png) no-repeat center center; position: absolute; top:50%; left:0; @include transform(translateY(-50%)); @include rem(background-size, 30px 33px);}
          }
        }
      }

      &.ico-TrackMania {
        .item-info {
          .item-title {@include rem(padding, 0 0 0 45px);
            &:before {@include rem(width, 30px); @include rem(height, 33px); content: ""; background: url(images/trackmania-ico.png) no-repeat center center; position: absolute; top:50%; left:0; @include transform(translateY(-50%)); @include rem(background-size, 30px 33px);}
          }
        }
      }

      .item-img {@include rem(width, 210px); @include order(2); overflow: hidden;
        @media (max-width: 1199px) {
          & {@include rem(width, 150px);}  
        }
        img {width: 100%; height: auto; @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-info {padding:0; width: calc(100% - 210px); @include order(1); @include rem(padding-right, 80px);
        @media (max-width: 1199px) {
          & {width: calc(100% - 150px); @include rem(padding-right, 30px);}  
        }
        .item-category {font-size: 14px; color:#000; @include rem(margin, 0 0 0 0); font-weight: $normal; line-height: 1.2; text-transform: uppercase; display: none; }
        .item-title {@include rem(font-size, 24px); color:#000;@include rem(margin, 0 0 20px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase; position: relative;
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 10px 0); line-height: 1.0;}  
          }
        }
        .item-date {color:#000; @include rem(font-size, 14px); font-weight: $semi-bold; line-height: 1.0; @include rem(margin, 0 0 8px 0);}
        .item-type {color:#000; font-size: 12px; font-weight: $normal; line-height: 1.2; @include rem(margin, 0); display: none;}
        .item-desc {@include elipsis(61px,3); @include rem(font-size, 18px); color:#979797; margin:0; font-weight: $semi-bold; line-height: 1.2;
          @media (max-width: 990px) {
            & {@include elipsis(48px,3); @include rem(font-size, 14px);}  
          }
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
        .item-info {
          .item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.event-archive-items {@include display-flex(); @include flex-wrap-wrap(); width:calc(100% + 40px); @include rem(margin, 0 -20px);
  @media (max-width: 1199px) {
    & {width:calc(100% + 20px); @include rem(margin, 0 -10px);}  
  }
  .event-item {@include rem(margin, 0 0 80px 0); position: relative; width:25%; @include rem(border, 20px solid transparent); border-top: 0; border-bottom: 0;
    @media (max-width: 1199px) {
      & {@include rem(border, 10px solid transparent); border-top: 0; border-bottom: 0;width:33.33%}  
    }
    @media (max-width: 990px) {
      & {width:50%; @include rem(margin, 0 0 50px 0);}  
    }
    @media (max-width: 767px) {
      & {@include rem(margin, 0 0 30px 0);}  
    }
    @media (max-width: 549px) {
      & {width:100%;}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; 
      .item-img {width:100%; @include rem(margin, 0 0 20px 0); overflow: hidden;
        @media (max-width: 990px) {
          & {@include rem(margin, 0 0 10px 0);}  
        }
        img {width: 100%; height: auto; @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-info {padding:0; width: 100%;
        .item-date {color:#000; @include rem(font-size, 14px); font-weight: $semi-bold; line-height: 1.0; @include rem(margin, 0 0 8px 0);}
        .item-title {@include rem(font-size, 24px); color:#000; @include rem(margin, 0 0 20px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
          @media (max-width: 1199px) {
            & {@include rem(margin, 0 0 0 0);}  
          }
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 10px 0); line-height: 1.0;}  
          }
        }
        .item-type, .item-category {display: none;}
        .item-desc {@include elipsis(60px,3); @include rem(font-size, 18px); color:#979797; margin:0; font-weight: $semi-bold; line-height: 1.2;
          @media (max-width: 990px) {
            & {@include elipsis(48px,3); @include rem(font-size, 14px);}  
          }
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
        .item-info {
          .item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.item-list-button {@include rem(padding, 0 0 40px 0);
  @media (max-width: 767px) {
    & {@include rem(padding, 0 0 20px 0);}  
  }
  a {display: inline-block; position:relative; @include rem(font-size, 16px); color:#000;font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase; text-decoration: underline; @include rem(padding, 0px 5px 0 13px);
    &:before {position: absolute; @include rem(left, 0px); top:50%; @include transform(translateY(-50%)); content: "+"; color:#2495f6;}          
    &:after {position: absolute; @include rem(right, 0px); top:50%; @include transform(translateY(-50%)); content: ":"; color:#000;}          
    &:hover {text-decoration: none;}
  }
}

.single-sidebar {
  .sidebar-items-title {@include rem(font-size, 48px); font-weight: $semi-bold; color:#000; @include rem(margin, 0); line-height: 1.0; @include rem(padding, 0 0 40px 0);
    @media (max-width: 990px) {
      & {@include rem(font-size, 32px); @include rem(padding, 0 0 20px 0);}  
    }
  }
}

.sidebar-items-list {
  .post-item {@include rem(margin, 0 0 55px 0); position: relative; 
    @media (max-width: 1199px) {
      & {@include rem(margin, 0 0 25px 0);}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; 
      .item-img {@include rem(width, 210px); @include order(2); overflow: hidden; position: relative;
        @media (max-width: 1199px) {
          & {@include rem(width, 150px);}  
        }
        .item-category {position: absolute; @include rem(top, 5px); @include rem(left, 5px); z-index: 30; color:#fff; @include rem(font-size, 11px); font-weight: $semi-bold; line-height: 1.0; text-transform: uppercase; display: inline-block; background: #2495f6; @include rem(padding, 5px 10px 2px 10px);
            @media (max-width: 990px) {
              & {@include rem(font-size, 10px);  @include rem(padding, 5px 10px 2px 10px);}  
            } 
            &.Team_Sampi {background: #2495f6;}
            &.Novinky {background: #6d9a00;}
          }
        img {width: 100%; height: auto; @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-info {padding:0; width: calc(100% - 210px); @include order(1); @include rem(padding-right, 80px);
        @media (max-width: 1199px) {
          & {width: calc(100% - 150px); @include rem(padding-right, 30px);}  
        }
        .item-category {font-size: 14px; color:#000; @include rem(margin, 0 0 0 0); font-weight: $normal; line-height: 1.2; text-transform: uppercase; display: none; }
        .item-title {@include rem(font-size, 24px); color:#000;@include rem(margin, 0 0 20px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 10px 0); line-height: 1.0;}  
          }
        }
        .item-date {color:#000; font-size: 12px; font-weight: $normal; line-height: 1.2; @include rem(margin, 0); display: none;}
        .item-type {color:#000; font-size: 12px; font-weight: $normal; line-height: 1.2; @include rem(margin, 0); display: none;}
        .item-desc {@include elipsis(61px,3); @include rem(font-size, 18px); color:#979797; margin:0; font-weight: $semi-bold; line-height: 1.2;
          @media (max-width: 990px) {
            & {@include elipsis(48px,3); @include rem(font-size, 14px);}  
          }
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
        .item-info {
          .item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.post-detail {@include rem(font-size, 18px); line-height: 1.5; color:#000; position: relative;
  .post-detail-category {@include rem(font-size, 18px); color:#2495f6; @include rem(margin, 0 0 15px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
    a {color:#2495f6; text-decoration: none;
      &:hover {text-decoration: underline;}
    }
  }
  h1 {@include rem(font-size, 45px); color:#000; @include rem(padding, 0 0 10px 0); @include rem(margin, 0); font-weight: $bold; line-height: 1.2; text-transform: uppercase; text-align: left !important;
    @media (max-width: 767px) {
      & {@include rem(font-size, 26px);}  
    }
  }
  .alignright {float:right; @include rem(padding, 0 0 35px 35px); max-width: 35%;
    @media (max-width: 1199px) {
      & {max-width: 40%;}  
    }
    @media (max-width: 549px) {
      & {@include rem(padding, 0 0 25px 25px); max-width: 45%;}  
    }
  }
  .post-detail-date {color:rgba(0,0,0,0.5); @include rem(font-size, 16px); font-weight: $semi-bold; line-height: 1.2; @include rem(margin, 0 0 40px 0);
    @media (max-width: 1199px) {
      & {@include rem(margin, 0 0 20px 0);}  
    }
  }
  img {max-width: 100%; height: auto;}
  .wp-caption {width:auto !important;}
  .post-detail-social {@include rem(padding, 50px 0);
    .post-detail-social-title {@include rem(font-size, 14px); font-weight: $bold; line-height: 1.2; @include rem(margin, 0 0 10px 0);}
  }
}

.subpage-secondary-header {display: none;}

.subpage-region {@include rem(padding, 30px 0);
  &.more-padding-here {@include rem(padding, 70px 0 0 0);}
  h1, .container-main-title {text-align:center; @include rem(font-size, 48px); font-weight: $semi-bold; color:#000; @include rem(margin, 0); line-height: 1.0; @include rem(padding, 0 0 40px 0);}  
}

.teams-list-container {@include display-flex(); @include flex-wrap-wrap(); width:calc(100% + 40px); @include rem(margin, 0 -20px);
  @media (max-width: 1199px) {
    & {width:calc(100% + 20px); @include rem(margin, 0 -10px);}  
  }
  .post-item {@include rem(margin, 0 0 80px 0); position: relative; width:50%; @include rem(border, 20px solid transparent); border-top: 0; border-bottom: 0;
    @media (max-width: 1199px) {
      & {@include rem(border, 10px solid transparent); border-top: 0; border-bottom: 0;}  
    }
    @media (max-width: 990px) {
      & {@include rem(margin, 0 0 50px 0);}  
    }
    @media (max-width: 767px) {
      & {@include rem(margin, 0 0 30px 0);}  
    }
    @media (max-width: 549px) {
      & {width:100%;}  
    }
    .item-link {display: block; display: flex; flex-wrap: wrap; width:100%; text-decoration: none; color:#000; 
      .item-img {width:100%; @include rem(margin, 0 0 20px 0); overflow: hidden;
        @media (max-width: 990px) {
          & {@include rem(margin, 0 0 10px 0);}  
        }
        img {width: 100%; height: auto; @include transform(scale(1.0)); @include transition(0.3s);}
      }
      .item-info {padding:0; width: 100%;
        .item-title {@include rem(font-size, 24px); color:#000; @include rem(margin, 0 0 20px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase; text-align: center;
          @media (max-width: 1199px) {
            & {@include rem(margin, 0 0 0 0);}  
          }
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 10px 0); line-height: 1.0;}  
          }
        }
      }
      &:hover {
        .item-img {
          img {@include transform(scale(1.1));}
        }
        .item-info {
          .item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.oceneni-list {
  .oceneni-item {@include rem(margin, 0 0 55px 0); position: relative; 
    @media (max-width: 1199px) {
      & {@include rem(margin, 0 0 55px 0);}  
    }
    .item-link {display: block; width:100%; text-decoration: none; color:#000; 
      .item-info {padding:0; width: 100%; @include rem(padding, 0 0 0 80px); position: relative;
        .item-trophy {position: absolute; top:50%; left:0; @include transform(translateY(-50%));
          &:before {content: ""; display: block; @include rem(width, 42px); @include rem(height, 46px);}
          &.place-1 {
            &:before {background: url(images/misto-1.png) no-repeat center center; @include rem(background-size, 42px 46px);}
          }
          &.place-2 {
            &:before {background: url(images/misto-2.png) no-repeat center center; @include rem(background-size, 42px 46px);}
          }
          &.place-3 {
            &:before {background: url(images/misto-3.png) no-repeat center center; @include rem(background-size, 42px 46px);}
          }
          .item-place {text-align: center; @include rem(font-size, 18px); @include rem(margin, 10px 0 0 0); color:#000; font-weight: $normal;}
        }
        .item-title {@include rem(font-size, 24px); color:#000;@include rem(margin, 0 0 10px 0); font-weight: $semi-bold; line-height: 1.2; text-transform: uppercase;
          @media (max-width: 990px) {
            & {@include rem(font-size, 18px); @include rem(margin, 0 0 5px 0); line-height: 1.0;}  
          }
          a {color:#000; text-decoration: underline;
            &:hover {text-decoration: none;}
          }
        }
        .item-date {color:#979797; @include rem(font-size, 16px); font-weight: $semi-bold; line-height: 1.0; @include rem(margin, 0);}
      }
      &:hover {
        .item-info {
          //.item-title {text-decoration: underline;}
        }
      }
    }
  }
}

.social-site-link {@include rem(margin, 0 0 20px 0);
  a {position: relative; text-decoration: none; @include rem(font-size, 18px); font-weight: $semi-bold; color:#000; @include rem(margin, 0); line-height: 1.0; display: inline-block; @include rem(padding, 0 0 0 35px);
    svg {position: absolute; top:50%; left:0; @include transform(translateY(-50%));}
    &:hover {text-decoration: underline;}
  }
}

.gallery {@include display-flex(); @include flex-wrap-wrap(); width:calc(100% + 20px); margin: 0 -10px !important;
  .gallery-item {float:none; width:33.33%; margin:0 !important; @include rem(border, 10px solid transparent);
    a {display: block;
      img {border:none !important;}
    }
  }
}

.youtube-responsive-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  }
  
  .youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }

.texts-container {@include rem(font-size, 18px); color:#000; line-height: 1.5;
  &.tiny-container {@include rem(padding, 40px 0 30px 0); margin:0 auto; @include rem(max-width, 750px);}
}

.half-photos-region {@include rem(padding, 70px 0 0 0); 
 .oNasGalerie {
   .gallery {@include display-flex(); @include flex-wrap-wrap(); width:100%;
     .gallery-item {width:50%; float:none; border: none !important;
       .gallery-icon {width:101%; padding-top: 50%; position: relative; overflow: hidden;
         img {position: absolute; top:50%; left:50%; @include transform(translate(-50%,-50%)); max-width: 100%; border: none !important; height: auto;}
       }
     }
   }
 } 
}

.contact-list {@include display-flex(); @include flex-wrap-wrap(); width:100%; @include justify-content-space-between(); margin:0 auto; @include rem(max-width, 500px); @include rem(padding, 40px 0 0 0);
  .contact-item {width:calc(50% - 25px); text-align: center; @include rem(margin, 0 0 20px 0);
    @media (max-width: 549px) {
      & {width:calc(50% - 5px);}  
    }    
    .contact-image {@include rem(margin, 0 0 20px 0);
      img {width:100%;}
    }
    h2 {@include rem(margin, 0 0 5px 0); text-transform: uppercase; line-height: 1.0;
      @media (max-width: 549px) {
        & {@include rem(font-size, 24px);}  
      }    
    }
    h3 {@include rem(margin, 0 0 10px 0); @include rem(font-size, 15px); color:#666; line-height: 1.0;}
    p {margin:0;
      a {color:#2495f6; text-decoration: underline;
        &:hover {text-decoration: none;}
      }
    }
  }
}

.contact-social-region {text-align: center;
  .social-sites {display: inline-block; vertical-align: top; @include rem(padding, 0 0 30px 0); 
    .custom-html-widget {
      a {display: inline-block; @include rem(border, 2px solid #2694f5); @include border-radius(100%); @include rem(width, 46px); @include rem(height, 46px); @include opacity(0.7); @include transition(0.3s); @include rem(margin, 0 4px); font-size: 0; line-height: 0; position: relative;
        &:before {content: ""; position: absolute; top:50%; left:50%; @include transform(translate(-50%,-50%)); @include rem(width, 26px); @include rem(height, 26px);}
        &.facebook-ico {
          &:before {
            background-color: #2694f5;
            -webkit-mask-image: url(images/fb.svg);
            mask-image: url(images/fb.svg);
          }
        }
        &.youtube-ico {
          &:before {
            background-color: #2694f5;
            -webkit-mask-image: url(images/youtube.svg);
            mask-image: url(images/youtube.svg);
          }
        }
        &.instagram-ico {
          &:before {
            background-color: #2694f5;
            -webkit-mask-image: url(images/insta.svg);
            mask-image: url(images/insta.svg);
          }
        }
        &.twitter-ico {
          &:before {
            background-color: #2694f5;
            -webkit-mask-image: url(images/twitter.svg);
            mask-image: url(images/twitter.svg);
          }
        }
        &:hover {@include opacity(1);}
      }
    }
  }
}

.contact-form-region { @include rem(padding, 50px 0);
  .wpforms-container {@include rem(max-width, 520px); margin: 0 auto; @include rem(padding, 0 10px);
    .wpforms-title {text-align:center; @include rem(font-size, 48px); font-weight: $semi-bold; color:#000; @include rem(margin, 0); line-height: 1.0; @include rem(padding, 0 0 20px 0);}  
    .wpforms-error {padding-top: 5px !important}
    &.wpforms-container-full {
      .wpforms-submit-container {text-align:center;
        .wpforms-submit {font-family: $mainFont; text-transform: uppercase; border:1px solid #2694f5; border-radius: 0; background: #2694f5; color:#fff; @include rem(font-size, 16px); font-weight: $bold; line-height: 1.0; @include rem(padding, 14px 30px 10px 30px);
          &:hover {background: #fff; color:#2694f5; border-color: #2694f5}
        }
      }
    }
  }

  .wpforms-confirmation-container-full {
    p {padding: 0 !important}
  }

  textarea {resize: none;}
}

#getting-started {position: fixed; top:0; left:0; width:100%; height: 100vh; @include rem(font-size, 100px); @include display-flex(); @include align-items-center(); @include justify-content-center(); z-index: 999; color:#fff;
  background: #190e2c;
  background: -moz-linear-gradient(left, #190e2c 0%, #020106 100%);
  background: -webkit-linear-gradient(left, #190e2c 0%,#020106 100%);
  background: linear-gradient(to right, #190e2c 0%,#020106 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190e2c', endColorstr='#020106',GradientType=1 );
} 

.copyright {text-align: center; @include rem(padding, 40px 0 20px); @include rem(font-size, 14px); font-weight: $semi-bold; color:#000;}